{% load static %}
<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MyDiary{% endblock %}</title>

  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/tooplate-mini-finance.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css">

</head>
<body>

{% block header %}
<header class="navbar sticky-top flex-md-nowrap">
  <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
    <a class="navbar-brand" href="{% url 'index' %}">
      <i class="bi-journal"></i> MyDiary
    </a>
  </div>

  <form class="custom-form header-form ms-lg-3 me-lg-auto" action="#" method="get">
    <input class="form-control" name="search" type="text" placeholder="Αναζήτηση..." aria-label="Search">
  </form>

  {% if user.is_authenticated %}
  <div class="navbar-nav me-lg-2">
    <div class="nav-item text-nowrap d-flex align-items-center">

      <!-- Notifications -->
      <div class="dropdown ps-3">
        <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarLightDropdownMenuLink">
          <i class="bi-bell"></i>
          <span class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
          </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end notifications-block-wrap bg-white shadow" aria-labelledby="navbarLightDropdownMenuLink">
          <small>Notifications</small>
          {% for note in request.user.notifications.all %}
          <li class="notifications-block border-bottom pb-2 mb-2">
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="notifications-icon-wrap bg-{{ note.level|default:'info' }}">
                <i class="notifications-icon bi-{{ note.icon|default:'bell' }}"></i>
              </div>
              <div>
                <span>{{ note.message }}</span>
                <p>{{ note.timestamp|timesince }} πριν</p>
              </div>
            </a>
          </li>
          {% empty %}
          <li class="dropdown-item text-center">Δεν υπάρχουν ειδοποιήσεις.</li>
          {% endfor %}
        </ul>
      </div>
      <div class="dropdown ps-1">
        <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-three-dots-vertical"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-social bg-white shadow">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-4">
                        <a class="dropdown-item text-center" href="#">
                            <img src="{% static 'images/social/search.png' %}" class="profile-image img-fluid" alt="">
                            <span class="d-block">Google</span>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-4">
                        <a class="dropdown-item text-center" href="#">
                            <img src="{% static 'images/social/spotify.png' %}" class="profile-image img-fluid" alt="">
                            <span class="d-block">Spotify</span>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-4">
                        <a class="dropdown-item text-center" href="#">
                            <img src="{% static 'images/social/telegram.png' %}" class="profile-image img-fluid" alt="">
                            <span class="d-block">Telegram</span>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-4">
                        <a class="dropdown-item text-center" href="#">
                            <img src="{% static 'images/social/snapchat.png' %}" class="profile-image img-fluid" alt="">
                            <span class="d-block">Snapchat</span>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-4">
                        <a class="dropdown-item text-center" href="#">
                            <img src="{% static 'images/social/tiktok.png' %}" class="profile-image img-fluid" alt="">
                            <span class="d-block">Tiktok</span>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-4">
                        <a class="dropdown-item text-center" href="#">
                            <img src="{% static 'images/social/youtube.png' %}" class="profile-image img-fluid" alt="">
                            <span class="d-block">Youtube</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- Profile Dropdown -->
      <div class="dropdown px-3">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {% if request.user.is_authenticated %}
            {% if request.user.userprofile.profile_image %}
              <img src="{{ request.user.userprofile.profile_image }}" class="profile-image img-fluid me-3" alt="Προφίλ">
            {% else %}
              <img src="{% static 'images/medium-shot-happy-man-smiling.jpg' %}" class="profile-image img-fluid me-3" alt="Default">
            {% endif %}
          {% endif %}

          
        </a>
        <ul class="dropdown-menu bg-white shadow">
          <li>
            <div class="dropdown-menu-profile-thumb d-flex">
              {% if request.user.is_authenticated %}
              {% if request.user.userprofile.profile_image %}
                <img src="{{ request.user.userprofile.profile_image }}" class="profile-image img-fluid me-3" alt="Προφίλ">
              {% else %}
                <img src="{% static 'images/medium-shot-happy-man-smiling.jpg' %}" class="profile-image img-fluid me-3" alt="Default">
              {% endif %}
            {% endif %}
              <div class="d-flex flex-column">
                <small>{{ request.user.username }}</small>
                <a href="#">{{ request.user.email }}</a>
              </div>
            </div>
          </li>
          <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="bi-person me-2"></i>Προφίλ</a></li>
          <li><a class="dropdown-item" href="#"><i class="bi-gear me-2"></i>Ρυθμίσεις</a></li>
          <li><a class="dropdown-item" href="#"><i class="bi-question-circle me-2"></i>Βοήθεια</a></li>
          <li class="border-top mt-3 pt-2 mx-4">
            <form method="post" action="{% url 'logout' %}" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">
                <i class="bi-box-arrow-left me-2"></i> Αποσύνδεση
              </button>
            </form>
          </li>
        </ul>
      </div>

    </div>
  </div>
  {% endif %}
</header>
{% endblock %}

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="{% url 'calendar' %}"><i class="bi-calendar"></i> Ημερολόγιο</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'my_entries' %}"><i class="bi-journal-text"></i> Καταχωρήσεις</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}">
              <i class="bi bi-images"></i> Γκαλερί
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'trash' %}"><i class="bi-trash"></i> Κάδος</a></li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="title-group mb-3">
        <h1 class="h2 mb-0">Καθημερινές Ερωτήσεις</h1>
        <small class="text-muted">Καλώς ήρθες, {{ request.user.username }}</small>
      </div>

      {% block content %}{% endblock %}

    </main>
  </div>
</div>

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/apexcharts.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
{% endblock %}

</body>
</html>
