{% extends 'diary/base.html' %}

{% block content %}
  <h1>📸 Συλλογή Εικόνων</h1>

  <div class="row">
    {% for entry in images %}
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="{{ entry.image.url }}" class="card-img-top" alt="Image">
          <div class="card-body">
            <p class="card-text">Ημερομηνία: {{ entry.date }}</p>
          </div>
        </div>
      </div>
    {% empty %}
      <p>Δεν υπάρχουν αποθηκευμένες εικόνες ακόμα.</p>
    {% endfor %}
  </div>
{% endblock %}
